body {
    border: silver 20px ridge;
    padding: 20px;
    width: 800px;
    margin: auto;
}

.head {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 250px 320px 20px 1fr;
    grid-template-rows: 50px 50px 10px 30px 30px 10px;
    grid-template-areas:
        "name . . pic"
        " . dev . pic"
        "blackrow blackrow . pic"
        "search1 search1 search1 pic"
        "search2 search2 search2 ."
        "blackrow2 blackrow2 blackrow2 blackrow2";
}

h1,
h2,
p {
    width: 100%;
}

h1 {
    grid-area: name;
}

h2 {
    grid-area: dev;
}

.picofme {
    width: 100%;
    height: 100%;
    grid-area: pic;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.blackrow,
.blackrow2 {
    background-color: #414141;
    width: 100%;
    grid-area: blackrow;
    height: 100%;
}

.blackrow2 {
    grid-area: blackrow2;
}

.search1 {
    grid-area: search1;
}

.search2 {
    grid-area: search2;
}

main {
    display: flex;
    margin-top: 20px;
}

section {
    width: 45%;
}

.leftsize {
    margin-right: 39px;
}

.rightsize {
    margin-left: 39px;
}

.titleofarticle {
    border: 5px solid silver;
}

article header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background-color: #dddddd;
}

article header h3 {
    font-size: 1em;
    color: white;
}
